//
//  Secret.xcconfig
//  RecommendLoLChams-Flab
//
//  Created by 김혜지 on 1/17/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OPENAI_API_KEY = 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
RIOT_API_KEY = RGAPI-a5f735d2-4c54-4e9c-9adf-932894b1dd7c
